rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /avatars/{path=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /ads/{communityId}/{fileName} {
       allow read: if true;
       allow write: if request.auth != null;
    }
    match /buttons/{communityId}/{fileName} {
       allow read: if true;
       allow write: if request.auth != null;
    }
    match /communities/{slug}/announcements/{fileName} {
       allow read: if true;
       allow write: if request.auth != null;
    }
    match /sos_evidence/{path=**} {
       allow read: if request.auth != null;
       allow write: if request.auth != null;
    }
    match /{other=**} {
      allow read: if false;
      allow write: if false;
    }
  }
}
